img{                        /*google logo */   
     display: block;
     margin: 0 auto;
     margin-top: 200px;
}
.navbar_background a{
    list-style-type: none;
    margin: 10px;
    margin-top: 15px;
    padding:0;
    display: inline;
    color:black;
    line-height: 10px;
    

}

.topnavR a{                 /*top right navigation function */   
    text-align: right;
    float: right;    
}

.topnavL a{                  /*top left navigation function */   
    text-align: left;
    float:left;    
}

.navbar_background a:hover{
    padding:0;
    float:none;
    color: cyan;
}
.searchBar input{       /*search bar function */
    display: block;/*top left navigation function */   
    margin:0 auto;
    padding:5px;
    position: center;
    width:400px;
}
.round{
    border-radius: 30px 30px 30px 30px;

}

.select_buttons{
    display: inline;
    margin: auto;
    position: center;
    text-align: center;
}
